// C O L O R S
$white: #ffffff;
$white-1: #ececec;
$pagination-background: #dfdfdf;

$black-0: #000;
$black: #272727;
$black-1: #181818;
$black-2: #1d1d1d;
$black-footer: #191919;
$black-footer-2: #101010;

$pink: #e0bfc6;
$a-accent: #dc3545;
$a-error: #c2185b;

$color-theme-1: #e10717;
$color-theme-2: #1384c6;
$color-theme-3: #045d97;
$color-theme-4: #052f48;

// T R A N S I T I O N S
$transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
$transition-2: .3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-3: 275ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-4: 200ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-5: 150ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-button: 225ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-slider: .3s cubic-bezier(0.4, 0, 0.2, 1);

// O T H E R S
$navbar-height: 130px; // size from unvisible space ,because theres fixed navbar