#content {
    padding-top: $navbar-height;
}

#the-content, .theme-wp-content {
    @media screen and (min-width: 1400px) {
        max-width: 800px;
    }
    // Clearfix its self from unwanted float items
    &::after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: "";
        clear: both;
        height: 0;
    }

    // All Image Support
    img, & > img, & > p > img, & p > a > img, & > figure, & > figure > img {
        max-width: 100%;
        height: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 10px;
    }
    & > p img {
        margin-top: 0;
    }
    img.aligncenter {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img.alignright {
        float: right;
        margin: 0 0 20px 20px;
    }
    img.alignleft {
        float: left;
        margin: 0 20px 20px 0;
    }
    .gallery-native {
        margin-top: 40px;
        margin-bottom: 40px;
    }


    // Listing Support
    ul, ol {
        padding-left: 40px;
        li {
            margin-top: 10px;
        }
    }
    ul li {
        position: relative;
        list-style: none;
        &::before {
            content: "";
            position: absolute;
            height: 4px;
            width: 4px;
            top: 8px;
            display: block;
            left: -30px;
            border-radius: 50%;
            background: $color-theme-1;
        }
    }
    ol {
        counter-reset: ol-list-counter;
        li {
            position: relative;
            list-style: none;
            &::before {
                content: counter(ol-list-counter) ".";
                counter-increment: ol-list-counter;
                position: absolute;
                top: 0px;
                display: block;
                left: -30px;
                font-weight: 900;
                color: $color-theme-1;
            }
        }
    }


    // Text Support
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
    h2 { font-size: 32px; }
    h3 { font-size: 26px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 14px; }
    p {
        margin-bottom: 40px;
    }
    a {
        position: relative;
        font-weight: bold;
        text-decoration: underline;
        color: inherit;
        &:hover,&:focus {
            text-decoration: underline;
        }
    }
    

    // Blockquote
    blockquote {
        position: relative;
        padding: 40px;
        margin: 40px 0;
        border-radius: 10px;
        background: $white-1;
        & > *:nth-last-child(1){
            margin-bottom: 0px;
        }
    }
    

    & > *:nth-child(1){
        margin-top: 0!important;
    }
    & > *:nth-last-child(1){
        margin-bottom: 0px;
        & > *:nth-last-child(1){
            margin-bottom: 0px;
            & > *:nth-last-child(1){
                margin-bottom: 0px;
            }
        }
    }
}