#footer {
    position: relative;
    clear: both;
    color: $white;
    .top {
        position: relative;
        padding: 60px 0;
        background: $black-footer;
        .row {
            margin: -10px;
        }
        .main-column {
            padding: 10px;
            .title {
                font-size: 24px;
                font-family: 'Fjalla One', sans-serif;
                text-transform: uppercase;
            }
            .content {
                margin-top: 30px;
            }
            span {
                color: mix($white, transparent, 50);
            }
            .item {
                margin-top: 20px;
                &:nth-child(1){
                    margin-top: 0;
                }
            }
            &.locatie {
                .item {
                    a:hover, a:focus {
                        text-decoration: underline;
                    }
                    &.socmed {
                        margin: 0 -4px;
                        margin-top: 30px;
                        display: flex;
                        .btn {
                            margin: 4px;
                            background: mix($white, transparent, 10);
                            &:hover, &:focus {
                                color: $black-footer;
                                background: $white;
                            }
                        }
                    }
                }
            }
            &.news {
                .content {
                    margin: 0 -5px;
                    margin-top: 25px;
                    .item {
                        position: relative;
                        display: flex;
                        padding: 5px;
                        margin-top: 10px;
                        transition: $transition;
                        border-radius: 10px;
                        .photo {
                            position: relative;
                            height: 64px;
                            width: 64px;
                            flex-shrink: 0;
                            border-radius: 10px;
                            background: mix($white, transparent, 10);
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: cover;
                        }
                        .data {
                            padding-left: 10px;
                            .title {
                                text-transform: none;
                                font-size: 16px;
                                letter-spacing: .8;
                            }
                            .text {
                                font-size: 13px;
                                color: mix($white, transparent, 50);
                            }
                        }
                        &:hover, &:focus {
                            background: mix($white, transparent, 3);
                        }
                    }   
                }
            }
            &.opening {
                .item {
                    width: 250px;
                    max-width: 100%;
                    margin-top: 10px;
                    @include align-middle();
                    justify-content: space-between;
                    &:nth-child(1){
                        margin-top: 0;
                    }
                    & > div:nth-child(odd){
                        @extend span;
                    }
                }
            }
            &.impressie {
                .gallery-native {
                    margin: -3px;
                    .column-img {
                        width: 100%;
                        max-width: 25%;
                        @include media-breakpoint-up(lg){
                            max-width: 33.3333%;
                        }
                        @media screen and (min-width: 1400px){
                            max-width: 25%;
                        }
                        a {
                            position: relative;
                            padding-top: calc(100% - 6px); // for 1:1 aspect ratio, ** 6px = total margin Y from this el
                            margin: 3px;
                            border-radius: 10px;
                            img {
                                position: absolute;
                                top: 0;left: 0;
                            }
                        }
                    }
                }
            }
            @include media-breakpoint-down(md){
                margin-top: 40px;
                &:nth-child(1), &:nth-child(2){
                    margin-top: 0;
                }
                .content {
                    margin-top: 20px;
                }
            }
            @include media-breakpoint-down(xs){
                &:nth-child(2){
                    margin-top: 40px;
                }
                &:nth-child(1){
                    margin-top: 0;
                }
            }
        }
    }

    .bottom {
        position: relative;
        width: 100%;
        padding: 20px 0;
        padding-bottom: 40px;
        margin: auto;
        text-align: center;
        color: $white;
        background: $black-footer-2;
        .logo {
            height: 100px;
            img {
                width: auto;
                height: 100%;
                margin: auto;
            }
        }

        .text {
            display: inline;
            padding-top: 10px;
            justify-content: center;
            font-size: 12px;
            letter-spacing: .6px;
            .red {
                color: $color-theme-1;
            }
            a {
                text-transform: uppercase;
            }
        }       
    }           
}