#woods {
    position: relative;
    padding-bottom: 80px;
    overflow: hidden;
    background: url('./src/img/patterns.png') repeat center / 100% auto;
    @include media-breakpoint-down(sm){
        padding-bottom: 0;
    }
}
.main-woods-wrapper {
    padding: 0;
    box-shadow: 0 0 20px 0 mix($black-footer, transparent, 80);
    @include media-breakpoint-down(md){
        max-width: 680px;
    }
    @include media-breakpoint-down(sm){
        max-width: 100%;
    }
    &.navigation-bar {
        padding: 0;
        box-shadow: none;
    }
    &.white {
        background: $white;
    }
}
#homepage {
    word-wrap: break-word;
    .section {
        background: $white;
    }
    .section-1 {
        min-height: calc(100vh + 160px);
        @include align-middle();
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media screen and (min-height: 800px){
            min-height: 100vh;
        }
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: mix($black-0, transparent, 60);
        }
        .container {
            position: relative;
            z-index: 2;
            margin-top: 80px;
            font-family: 'Fjalla One', sans-serif;
            letter-spacing: .6px;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
            color: $white;
            .title {
                font-size: 100px;
            }
            .icon {
                position: relative;
                height: 36px;
                margin: 36px 0;
                margin-top: 30px;
                background: url('./src/icons/silverware.svg') no-repeat center / contain;
            }
            .subtitle {
                font-size: 30px;
            }
            .btn {
                margin-top: 30px;
            }
        }
        
        @include media-breakpoint-down(md){
            .container {
                max-width: 100%;
                .title {
                    font-size: 80px;
                }
                .icon {
                    margin: 30px 0;
                    margin-top: 20px;
                }
                .subtitle {
                    font-size: 26px;
                }
            }
        }
        @include media-breakpoint-down(xs){
            .container {
                .title {
                    font-size: 50px;
                }
                .icon {
                    height: 26px;
                    margin: 20px 0;
                    margin-top: 10px;
                }
                .subtitle {
                    font-size: 18px;
                }
            }
        }
    }

    .section-2 {
        padding: 80px 0;
        .container {
            .row {
                margin: 0 -15px;
                .column {
                    padding: 15px;
                    &.photo {
                        .item {
                            height: 100%;
                            min-height: 400px;
                            border-radius: 20px;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    &.text {
                        padding-bottom: 40px;
                    }
                }
                @include media-breakpoint-down(md){
                    .left, .right {
                        display: none;
                    }
                    .column.text {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .section-3 {
        margin: 0;
        padding: 80px 0;
        background: $white-1;
    }

    .section-4 {
        min-height: 80vh;
        padding: 160px 0;
        @include align-middle();
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @media screen and (min-width: 600px){
            min-height: 50vh;
        }
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: mix($black-0, transparent, 60);
        }
        .container {
            position: relative;
            z-index: 2;
            color: $white;
            .content-set {
                &::before {
                    display: none;
                }
                .title {
                    text-transform: none;
                }
                .content {
                    margin-top: 10px;
                    font-style: normal;
                    font-size: 24px;
                    @include media-breakpoint-down(sm){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .section-5 {
        padding: 80px 0;
        overflow: hidden;
        .container {
            .tab-slider {
                position: relative;
                display: flex;
                margin-top: 40px;
                .button-wrapper {
                    position: relative;
                    width: 180px;
                    @include align-middle();
                    justify-content: center;
                    flex-direction: column;
                    flex-shrink: 0;
                    .btn {
                        width: 100%;
                        margin: 5px 0;
                        font-family: 'Fjalla One', sans-serif;
                        font-size: 18px;
                        &.active {
                            @extend .red;
                            border: none;
                        }
                    }
                }
                .slider-wrapper {
                    position: relative;
                    height: 70vh;
                    overflow: hidden;
                    width: calc(100% - 160px);
                    .slider {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        transition: $transition;
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;
                        &.active {
                            visibility: visible;
                            opacity: 1;
                            pointer-events: all;
                        }
                        .slick-list, .slick-track {height: 100%;}
                        .slider-item {
                            .photo {
                                height: 100%;
                                width: calc(100% - 40px - 100px);
                                margin-left: 40px;
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                            }
                            .box-content {
                                position: absolute;
                                width: 350px;
                                max-width: 50%;
                                top: 50%;
                                right: 0;
                                padding: 30px;
                                transform: translateY(-50%);
                                border-radius: 20px;
                                background: mix($white-1, transparent, 90);
                                .header {
                                    @include align-middle();
                                    justify-content: space-between;
                                    font-family: 'Fjalla One', sans-serif;
                                    .title {
                                        font-size: 32px;
                                        text-transform: uppercase;
                                    }
                                    .price {
                                        margin-left: 30px;
                                        font-size: 24px;
                                        &::after {
                                            content: '\20AC';
                                            display: inline-block;
                                            font-size: 20px;
                                        }
                                    }
                                    @include media-breakpoint-down(sm){
                                        .title { font-size: 24px; }
                                        .price {
                                            font-size: 20px;
                                            &::after {
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .bottom {
                bottom: 0;
                margin-top: 30px;
                padding-left: 180px + 40px;
                padding-right: 100px;
                @include align-middle();
                justify-content: space-between;
                .dots-wrapper {
                    position: relative;
                    .slick-dots {
                        position: absolute;
                        width: fit-content;
                        top: 50%;
                        left: 0;
                        bottom: auto;
                        padding: 0;
                        transition: $transition;
                        display: flex!important;
                        margin: 0 -3px;
                        text-align: left;
                        opacity: 0;
                        visibility: hidden;
                        &.active {
                            opacity: 1;
                            visibility: visible;
                        }
                        li {
                            height: fit-content;
                            width: fit-content;
                            margin: 0 3px;
                            padding: 0;
                            button {
                                height: 14px;
                                min-height: 0;
                                width: 14px;
                                padding: 0;
                                margin: 0;
                                border-radius: 20px;
                                background: $white-1;
                                &::before, &::after {
                                    content: none;
                                }
                            }
                            &.slick-active {
                                button {
                                    background: $black;
                                }
                            }
                        }
                    }
                }
                .to-menukaart {
                    flex-shrink: 0;
                }
            }
            @include media-breakpoint-down(md){
                .tab-slider {
                    flex-direction: column;
                    .button-wrapper {
                        width: auto;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin: 0 -5px;
                        .btn {
                            width: fit-content;
                            margin: 5px;
                        }
                    }
                    .slider-wrapper {
                        width: 100%;
                        margin-top: 30px;
                        .slider .slider-item {
                            .photo {
                                width: 100%;
                                margin: 0;
                            }
                            .box-content {
                                right: auto;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
                .bottom {
                    padding: 0;
                }
            }
            @include media-breakpoint-down(sm){
                padding: 0;
                .content-set,
                .tab-slider .button-wrapper,
                .bottom {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .tab-slider {
                    .button-wrapper {
                        margin: 0 -2px;
                        .btn {
                            margin: 5px 2px;
                            font-size: 14px;
                            font-family: 'Open Sans', sans-serif;
                            padding: 8px 14px;
                        }
                    }
                    .slider-wrapper .slider .slider-item .box-content {
                        max-width: calc(100% - 20px);
                    }
                }
            }
        }
    }

    .section-6 {
        z-index: 2;
        padding: 80px 0;
        @include align-middle();
        background: transparent;
        &::after {
            content: "";
            position: absolute;
            height: 320px;
            width: 320px;
            left: -180px;
            bottom: -100px;
            background: url('./src/img/impressie-left.png') no-repeat 100% 50% / contain;
        }
        &::before {
            content: "";
            position: absolute;
            height: 400px;
            width: 400px;
            left: calc(100% - 100px);
            bottom: -100px;
            background: url('./src/img/impressie-right.png') no-repeat 100% 50% / contain;
        }
        .container {
            position: relative;
            z-index: 2;
            color: $white;
            .row {
                margin: 0 -15px;
                .col-12 {
                    padding: 0 15px;
                }
                iframe {
                    width: 100%!important;
                }
                .content-set {
                    &::before {
                        display: none;
                    }
                    .subtitle {
                        font-size: 24px;
                        &::before, &::after {
                            display: none;
                        }
                        @include media-breakpoint-down(sm){
                            font-size: 20px;
                        }
                    }
                    .content {
                        margin-top: 20px;
                    }
                }
                @include media-breakpoint-down(md){
                    flex-direction: column-reverse;
                    iframe {
                        margin-top: 40px;
                    }
                }
            }
        }
    }

    .section-7 {
        margin: 0;
        padding: 80px 0;
        .container {
            .row {
                margin-top: 40px;
            }
        }
    }

}