#impressie {
    .download {
        margin: 80px 0;
        //background: mix($black-footer, transparent, 10);
        .content-set {
            width: 600px;
            max-width: 100%;
            padding: 40px;
            border-radius: 10px;
            //box-shadow: 0 10px 20px 0 mix($black-footer,transparent, 10);
            background: $white;
            &::before {
                content: none;
            }
            .title {
                font-size: 36px;
            }
            .content {
                margin-top: 20px;
            }
        }
    }
}