#overons {

    .section.section-3 {
        margin: 80px 0;
        & .container > .row {
            & > .col-12 {
                display: flex;
                align-items: center;
                .content-set {
                    padding-left: 40px;
                }
            }
            .row {
                margin: 0 -10px;
            }
            @include media-breakpoint-down(md){
                flex-direction: column-reverse;
                & > .col-12:nth-last-child(1){
                    .content-set {
                        padding: 0;
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .row.category-list {
            .col-12 {
                padding: 10px;
                & > a > div {
                    position: relative;
                    height: 100%;
                    min-height: 100px;
                    padding: 20px;
                    display: flex;
                    transition: $transition;
                    transform: translateY(0);
                    align-items: center;
                    font-size: 20px;
                    box-shadow: 0 0 0 $white;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    &::after {
                        //@include overlay();
                        background: linear-gradient(90deg, mix($black-footer,transparent,90), mix($black-footer,transparent,40));
                    }
                    .wrapper {
                        position: relative;
                        z-index: 2;
                        font-weight: 800;
                        text-transform: uppercase;
                        color: #fff;
                    }
                }
                & > a {
                    &:hover, &:focus {
                        & > div {
                            transform: translateY(-10px);
                            box-shadow: 5px 5px 0 mix($black-footer, transparent, 16);
                        }
                    }
                }
            }
        }
    }

}