#page-404 {
    .section {
        position: relative;
        display: flex;
        align-items: center;
        min-height: calc(100vh);
        overflow: hidden;
        color: $white;
        background: url('./src/img/404.jpg') no-repeat center / cover;

        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            background: mix($black, transparent, 60);
        }

        .container {
            position: relative;
            display: flex;
            z-index: 2;
            justify-content: center;
            .content {
                margin-top: 20px;
            }
            .btn {
                margin-top: 30px;
            }
        }
    }
}