<div class="row form-contact">
        <div class="col-12 col-md-6">
            <div class="input">
                <label>Uw naam</label>
                [text* naam placeholder"naam"]
            </div>
    
            <div class="input">
                <label>Uw e-mail</label>
                [email* e-mail placeholder"email"]
            </div>
        </div>
    
        <div class="col-12 col-md-6">
    
            <div class="input">
                <label>Uw telefoonnummer</label>
                [tel telefoonnummer placeholder"telefoon"]
            </div>

            <div class="input">
                <label>Subject</label>
                [text subject placeholder"subject"]
            </div>
    
        </div>
    
        <div class="col-12 col-md-12">
            <div class="input">
                <label>Content</label>
                [textarea content placeholder"content"]
            </div>
    
            [submit class:btn class:red "Verzenden"]
        </div>
        
    </div>