<div class="row form-contact">
        <div class="col-12 col-md-6">
            <div class="input">
                <label>Uw naam</label>
                [text* naam placeholder"naam"]
            </div>
    
            <div class="input">
                <label>Uw e-mail</label>
                [email* e-mail placeholder"email"]
            </div>
    
            <div class="input">
                <label>Uw telefoonnummer</label>
                [tel* telefoonnummer placeholder"telefoon"]
            </div>
        </div>
    
        <div class="col-12 col-md-6">
    
            <div class="input">
                <label>Aantal personen</label>
                [select* aantalPersonen "Aantal Personen" "2" "3" "4" "5" "6" "7" "8" "9" "Meer"]
            </div>
    
            <div class="input">
                <label>Datum</label>
                [date* datum placeholder"Datum"]
            </div>
    
            <div class="input">
                <label>Tijd</label>
                [text* tijd placeholder"tijd"]
            </div>
    
        </div>
    
        <div class="col-12 col-md-12">
            <div class="input">
                <label>Bijzonderheden</label>
                [textarea* opmerking placeholder"Bijzonderheden"]
            </div>
    
            [submit class:btn class:red "Verzenden"]
        </div>
        
        <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
            "Houd er rekening mee dat e-mails vanuit ons formulier in uw spam mailbox terecht kunnen komen.
            Controleer dus ook altijd even uw spam mailbox." 
        </div>
    </div>