@mixin button-style {
    min-height: 40px;
    width: fit-content;
    padding: 8px 34px;
    transition: $transition-button;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 50px;
    box-shadow: none;
    color: $white;
    &:hover, &:focus {
        outline: none;
        color: $white;
        box-shadow: none;
    }
    &.grey {
        color: $black;
        background: $white-1;
        &:hover, &:focus {
            color: $white;
            background: $color-theme-1;
        }
    }
    &.white {
        background: $black-footer;//mix($white-1, transparent, 10);
        &:hover, &:focus {
            color: $black;
            background: $white;
        }
    }
    &.red {
        color: $white;
        background: $color-theme-1;
        &:hover, &:focus {
            color: $white;
            background: mix($color-theme-1, $black, 60);
        }
    }
    &.outline {
        min-height: 36px;
        border: 2px solid;
        background: transparent; 
        &:hover, &:focus {
            color: $white;
            background: $color-theme-1;
        }
        &.red {
            border-color: $color-theme-1;
            color: inherit;
            &:hover, &:focus {
                //color: $white;
                //background: $color-theme-1;
                background: mix($color-theme-1, transparent, 20);
            }
        }
        &.black {
            border-color: $black;
            color: $black;
            &:hover, &:focus {
                color: $white;
                background: $black;
            }
        }
        &.white {
            border-color: $white;
            color: $white;
            &:hover, &:focus {
                color: $black;
                background: $white;
            }
        }
    }
    &.circle {
        width: 40px;
        height: 40px;
        padding: 0px;
        @include align-middle();
        justify-content: center;
        border-radius: 50%;
        svg {
            margin: 0;
        }
    }
}
button, .btn {
    @include button-style();
    .icon {
        margin-left: 10px;
    }
    &.bigger {
        font-size: 16px;
        padding: 14px 20px;
    }
}