
    .content-set {
        & > *:nth-child(1){
            margin-top: 0px!important;
        }
        &::before {
            content: "";
            position: relative;
            display: block;
            height: 40px;
            margin-bottom: 30px;
            background: url('./src/icons/variation.svg') no-repeat center / contain;
        }
        .title {
            position: relative;
            margin-top: 20px;
            margin-bottom: 0;
            font-family: 'Fjalla One', sans-serif;
            text-transform: uppercase;
            font-size: 48px;
            font-weight: 200;
            line-height: 1.3;
            b, strong {
                font-weight: 600;
            }
            @include media-breakpoint-down(sm){
                font-size: 32px;
            }
        }
        .subtitle {
            position: relative;
            margin-top: 4px;
            font-family: 'Courgette', cursive;
            font-size: 18px;
            @include align-middle();
            &::after,&::before {
                content: "";
                position: relative;
                height: 2px;
                width: 10px;
                max-width: 40px;
                flex-grow: 1;
                flex-shrink: 1;
                display: block;
                margin: 0 6px;
                background: $white-1;
            }
        }
        &.archive {
            .title {
                margin-top: 0;
            }
        }
        .content {
            margin-top: 40px;
            font-size: inherit;
            line-height: inherit;
            font-style: italic;
            font-size: 16px;
            font-weight: 200;
            a {
                text-decoration: underline;
                font-weight: bold;
            }
            @include media-breakpoint-down(sm){
                font-size: inherit;
            }
        }
        .btn {
            margin-top: 30px;
        }
        &.white {
            .title-custom {
                color: $white;
                &::before {
                    background: $white;
                }
            }
        }
        &.centered {
            margin: auto;
            text-align: center;
            .subtitle {
                justify-content: center;
            }
            .content {
                .btn {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }