.gallery-native {
	margin-left: -10px;
	margin-right: -10px;
	.column-img {
		padding: 0px;
		a {
			height: calc(100% - 20px);
			overflow: hidden;
			display: block;
			margin: 10px;
			border-radius: 20px;
		}
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}