/* Navigation */
.navbar {
    padding: 0px;
    margin: 0;
    display: block;
    $transition-navbar: $transition-4;
    transition: $transition-navbar;
    .main-woods-wrapper {
        transition: $transition-navbar;
    }
    .the-navbar-container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .left-side {
            position: relative;
            height: 130px;
            display: flex;
            transition: $transition-navbar;
            align-items: center;
            @include media-breakpoint-down(sm){
                height: 100px;
            }
            a {
                height: 100%;
                transition: $transition-navbar;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }

        .navbar-toggler {
            height: 50px;
            width: 50px;
            color: inherit;
            border-radius: 50%;
            box-shadow: none;
            color: $white;
            &:hover,&:focus {
                background: mix($white, transparent, 10);
            }
        }

        .right-side-collapse {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }

        /* All the Menu list */
        .right-side {
            justify-content: flex-end;

            ul.navbar-nav {
                @include media-breakpoint-down(lg){
                    padding-bottom: 40px;
                }
                & > li > a {
                    color: $white;
                    font-size: 16px;
                }
                li {
                    a {
                        position: relative;
                        width: fit-content;
                        display: block;
                        padding: 10px 12px;
                        font-family: 'Fjalla One', sans-serif;
                        transition: $transition-2;
                        letter-spacing: .6px;
                        &:hover,&:focus {
                            color: $color-theme-1;
                        }
                    }
                    &.active > a {
                        color: $color-theme-1;
                    }
                }
                & > li > a {
                    margin: 0 16px;
                    padding: 6px 0;
                }
                li:nth-last-child(1){
                    a {
                        margin-right: 0px;
                    }
                }
            }
            ul.dropdown-menu {
                padding: 0;
                overflow: hidden;
                li {
                    a {
                        width: 100%;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    &.small {
        .main-woods-wrapper {
            background: $black-footer-2;
        }
        
        .the-navbar-container {
            .left-side  {
                height: 100px;
                @include media-breakpoint-down(sm){
                    height: 80px;
                }
                a {
                    height: 80%;
                }
            }
            .right-side ul.navbar-nav li a {
                font-size: 14px;
            }
        }
    }

    &.navbar-expanded {
        .main-woods-wrapper {
            background: $black-footer-2;
        }
    }

} /* END : Navigation*/

#wpadminbar {
    display: none;
}