.section-newsletter {
    margin: 80px 0;
    .container {
        .box {
            padding: 30px;
            border-radius: 10px;
            background: $white-1;
            .title {
                font-size: 26px;
                font-weight: 900;
            }
            .content {
                margin-top: 10px;
            }
            .form {
                margin-top: 20px;
                .mc4wp-form-fields {
                    margin-top: -10px;
                    display: flex;
                    flex-wrap: wrap;
                    input[type=text], input[type=email]{
                        height: 40px;
                        width: calc(40% - 10px);
                        padding: 0 20px;
                        margin-right: 10px;
                        margin-top: 10px;
                        border-radius: 50px;
                        &::placeholder {
                            font-style: italic;
                        }
                        @include media-breakpoint-down(md){
                            width: calc(50% - 10px);
                            &:nth-child(2){
                                width: 50%;
                                margin-right: 0;
                            }
                        }
                        @include media-breakpoint-down(xs){
                            width: 100%;
                            margin-right: 0;
                            &:nth-child(2){
                                width: 100%;
                            }
                        }
                    }
                    .btn {
                        margin-top: 10px;
                        font-style: italic;
                        @include media-breakpoint-up(md){
                            width: 20%;
                            padding-left: 0;
                            padding-right: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}