
            .post-navigation {
                position: relative;
                width: 100%;
                padding: 40px 0;
                margin-top: 30px;
                text-align: center;
                background: $pagination-background;
                &.wide { display: none; }
                @media screen and (min-width: 500px) {
                    &.mobile { display: none; }
                    &.wide { display: block; }
                }
                .info { opacity: .6; }
                .all-page-number {
                    padding-top: 20px;
                    @include align-middle();
                    justify-content: center;
                    &.no-pagination {
                        padding: 0;
                    }
                    .page-numbers {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        display: block;
                        flex-shrink: 0;
                        font-weight: 800;
                        text-align: center;
                        border-radius: 50px;
                        color: $color-theme-1;
                        &.current {
                            margin: 0 10px;
                            font-weight: normal;
                            color: $white;
                            background: $black-footer;
                        }
                        &.dots,&.next,&.prev {
                            &::before {content: none;}
                        }
                        &.next,&.prev {
                            font-weight: normal;
                        }
                    }
                    a.page-numbers {
                        transition: $transition-2;
                        &:hover, &:focus {
                            background: mix($color-theme-1, transparent, 10);
                        }
                    }
                    a.page-numbers.next,a.page-numbers.prev {
                        width: fit-content;
                        padding: 0 20px;
                        margin-left: 10px;
                        @extend .btn.red;
                    }
                    a.page-numbers.prev {
                        margin-left: unset;
                        margin-right: 10px;
                    }
                }
            }