    .section-the-content {
        margin: 80px 0;
    }

    .section.full-thumbnail {
        min-height: calc(300px + 80px);
        padding-top: 160px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        word-break: break-all;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            background: $black;
        }
        &.no-thumbnail {
            background: $black-footer;
            &::after {
                content: none;
            }
        }
        .container.container-content {
            position: relative;
            z-index: 2;
            justify-content: center;
            text-align: center;
            .title {
                font-size: 60px;
                @include media-breakpoint-down(sm){
                    font-size: 40px;
                }
            }
            .content-set {
                @extend .centered;
                max-width: 600px;
                color: $white;
            }
            .content {
                .btn {
                    display: block;
                    margin-top: calc(20px + 30px);
                }
                @include media-breakpoint-down(sm){
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .section-box-list {
        margin: 80px 0;
        .container {
            .row {
                margin: 0 -15px;
                .column {
                    padding: 15px;
                    .item {
                        position: relative;
                        height: 100%;
                        min-height: 450px;
                        overflow: hidden;
                        border-radius: 20px;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        .overlay {
                            position: absolute;
                            min-height: 106px;
                            height: auto;
                            width: 100%;
                            z-index: 2;
                            bottom: 0;
                            padding: 20px;
                            @include align-middle();
                            transition: $transition;
                            text-align: center;
                            color: $white;
                            background: mix($black-0, transparent, 50);
                            .wrapper {
                                width: 100%;
                                .title {
                                    margin: 0;
                                    font-size: 24px;
                                    font-family: 'Fjalla One', sans-serif;
                                    text-transform: uppercase;
                                }
                                .subtitle {
                                    margin: 0;
                                    font-family: 'Courgette', cursive;
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    a:hover, a:focus {
                        .item {
                            .overlay {
                                min-height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .section-cta {
        overflow: hidden;
        text-align: center;
        background: mix($black-footer, transparent, 6);
        .container {
            padding: 80px 40px;
            border-radius: 20px;
            .content-set {
                .subtitle {
                    &::after, &::before {
                        content: none;
                    }
                }
                .content {
                    margin-top: 30px;
                }
            }
        }
        .buttons {
            margin-top: 30px;
            @include align-middle();
            flex-wrap: wrap;
            justify-content: center;
            .btn {
                margin: 5px;
            }
        }
    }

    .section-list-post {
        margin: 80px 0;
        .container {
            .row {
                margin: 0 -15px;
                .column {
                    position: relative;
                    padding: 15px;
                    $this-transition: $transition;
                    a {
                        position: relative;
                        display: block;
                        margin-bottom: 20px;
                    }
                    .item {
                        position: relative;
                        height: 100%;
                        min-height: 450px;
                        overflow: hidden;
                        border-radius: 20px;
                        background: mix($black, transparent, 20);
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        .overlay {
                            position: absolute;
                            min-height: 106px;
                            width: 100%;
                            z-index: 2;
                            bottom: 0;
                            padding: 20px;
                            padding-bottom: 40px;
                            @include align-middle();
                            transition: $this-transition;
                            text-align: center;
                            color: $white;
                            background: mix($black-0, transparent, 50);
                            .wrapper {
                                width: 100%;
                                .icon {
                                    max-height: 0;
                                    margin: auto;
                                    display: block;
                                    font-size: 30px;
                                    margin-bottom: 0px;
                                    opacity: 0;
                                    transition: $this-transition;
                                }
                                .title {
                                    margin: 0;
                                    font-size: 24px;
                                    font-family: 'Fjalla One', sans-serif;
                                    text-transform: uppercase;
                                }
                                .subtitle {
                                    margin: 0;
                                    font-size: inherit;
                                    text-transform: uppercase;
                                }
                                .content {
                                    max-height: 0;
                                    display: block;
                                    margin: 0px;
                                    opacity: 0;
                                    transition: $this-transition;
                                }
                            }
                        }
                    }
                    .date {
                        position: absolute;
                        width: 190px;
                        top: calc(100% - 20px);
                        left: calc(50% - 95px);
                        z-index: 3;
                        padding: 10px;
                        border-radius: 50px;
                        color: $white;
                        font-size: .85rem;
                        text-transform: uppercase;
                        text-align: center;
                        background: $color-theme-1;
                    }
                    a:hover, a:focus {
                        .item {
                            .overlay {
                                min-height: 100%;
                                .wrapper {
                                    .icon, .content {
                                        max-height: 200px;
                                        opacity: 1;
                                    }
                                    .content {
                                        margin-top: 20px;
                                    }
                                    .icon {
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .section.section-full-gallery {
        overflow: hidden;
        margin: 80px 0;
        .container {
            .content-set {
                text-align: center;
            }
        }
        .gallery-native {
            margin-top: 40px;
            .column-img {
                overflow: hidden;
                a img {
                    transition: $transition;
                    transform: scale(1);
                    &:hover, &:focus {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }

    .section.full-gmaps {
        position: relative;
        margin: 80px 0;
        .wrapper {
            position: relative;
            height: 500px;
            margin-top: 80px;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
        @include media-breakpoint-down(sm){
            margin-bottom: 0;
            .container.maps {
                padding: 0;
                max-width: 100%;
                width: 100%;
            }
        }
    }
    